<div class="beer-card beer-card__container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <div class="beer-card__title-container">
        <mat-card-title class="beer-card__title">
          {{ beer().name }}
        </mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="beer-card__description-container">
        <div class="beer-card__description-title">
          <mat-card-subtitle> Description:</mat-card-subtitle>
        </div>
        {{ beer().description }}
      </div>
    </mat-card-content>
    <div class="beer-card__footer">
      <mat-card-footer>
        <div class="beer-card__detail-container">
          <div class="beer-card__detail-item">IBU: {{ beer().ibu }}</div>
          <div class="beer-card__detail-item">Type: {{ beer().type }}</div>
        </div>
      </mat-card-footer>
      <mat-card-actions>
        <div class="beer-card__button-container">
          <button mat-mini-fab (click)="onEdit()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="onDelete()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
